- if current_user
  %h2 Your twinterests
- else
  %h2 Popular twinterests

#recent-deaths
  :javascript
    $(function(){
      var pusher = new Pusher('3e82ccea5da2b7f29a25');
      var twinterest = "#{current_user ? "twinterest_#{current_user.id}" : "popular_twinterests"}";
      var channel = pusher.subscribe(twinterest);

      //console.log(twinterest);

      channel.bind('death', function(tweet){
        //console.log(tweet);
        appendTweet(tweet);
      });
    });


