%h2 Recent Deaths
#recent-deaths
  :javascript
    $(function(){
      var pusher = new Pusher('3e82ccea5da2b7f29a25');
      var channel = pusher.subscribe('dead_celebs');

      channel.bind('death', function(dead){
        console.log(dead);
        deadCeleb(dead);
        appendTweet(dead);
      });
    });


