.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :dead
  =f.error_message_on :dead
  =f.check_box :dead, :class => :text_field
  %span.description Dead?

.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:celebrities, :index)}';return false", :class => :button
