#recent-deaths .tweet {
  margin-left: 0;
}

.tweet .image {
  margin-left: 0; 
}

#recent-deaths img {
  height: 50px;
  width: 50px;
}

#recent-deaths .content {
  margin-left: 0;
}

#recent-deaths h1 {
  font-size: 13px;
  line-height: 20px;
}

