* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%
}
body {
  font-family: "Arial";
}
#container {
  margin: auto;
  width: 800px;
  text-align: center
}
h1, h2 {
  font-size: 400%;
  color: #333;
  text-stroke: 1px solid #000
}